@import "whitespace-reset.css";
@import "modal.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  line-height: 1.1;
  color
}

h1, h2 {
  vertical-align: middle;
  font-size: 36px;
  font-weight: 400;
  margin: 40px 0 20px;
}

h2 {
  font-size: 26px;
}

.form-actions {
  display: block;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

div.form-actions > button,
div.form-actions > input {
  width: 49%;
  white-space: nowrap;
}

input.field,
input.searchInput {
  outline: none;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0 auto;
  height: 34px;
  padding: 6px 12px;
  border: 0.5px solid gray;
  animation-fill-mode: backwards;
  transition: border 0.1s ease-in-out;
  border-radius: 3px;
}

input.searchInput {
  outline: none;
  border: none;
  border-bottom: 2px solid #f0f0f0;
  cursor: text;
}

input.field:focus, input.tagInput:focus {
  border: 1px solid teal;
  transition: border 0.1s ease-in-out;
}

.banner {
  display: table;
  width: 100%;
  height: 120px;
  background-color: #00ADB5;
  color: #ffff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* -------------------- CONTACT FORM --------------------*/
.contact-form {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form hr {
  width: 95%;
  border: 0.5px solid #f0f0f0;
  margin-bottom: 5px;
}

label.title {
  color: #9e9e9e;
  display: inline-flex;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  width: 70%;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 12px;
}

.contact-form p.error_message, p.form_errors {
  color: indianred;
  display: inline-flex;
  width: 70%;
  text-align: left;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 20px;
  margin-left: 24px;
  font-style: italic;
}

p.form_errors {
  color: red;
  font-size: 16px;
  margin-left: 10px;
  padding-bottom: 20px;
  font-style: normal;
}

.contact-form input.field {
  width: 69%;
  font-size: 16px;
  height: 45px;
  margin-bottom: 25px;
}

input.tagInput {
  position: relative;
  height: 45px;
  width: 95%;
  outline: none;
  border-radius: 0px;
  font-size: 1rem;
  outline: none;
  box-sizing: border-box;
  vertical-align: middle;
  margin-left: 3px;
/*  height: 34px;*/
  padding: 6px 12px;
  border: 0.5px solid gray;
  animation-fill-mode: backwards;
  transition: border 0.1s ease-in-out;
  border-radius: 3px;
}

input.field.invalid, #phoneInput.invalid {
  border: 0.5px solid indianred;
}

label.invalid {
  color: indianred;
}

.contact-form span.number_formats {
  color: darkgray;
  display: inline-flex;
  width: 70%;
  text-align: left;
  font-size: 12px;
  padding-top: 2px;
  margin-bottom: 25px;
  margin-left: 15px;
  font-style: italic;
}

.container {
  width: 100%;
  padding-bottom: 20px;
}

/* ------------ CONTAINER FOR SEARCH BOX AND CONTACTS ------------*/

div.inner-container {
  display: inline-flex;
  background-color: #f9f7fa;
  border-radius: 4px;
  width: 100%;
  height: 40px;
 vertical-align: middle;
  padding: 0;
/*  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;*/
}


div.add-box  {
  display: inline-flex;
}

div.search-box  {
  display: inline-flex;
  padding: 0;
}

input[name="search"] {
  font-size: 1rem;
  padding-top: 10px;
  width: 15vw;
  height: 40px;
  outline: none;
  box-shadow: none;
  border-right: none;
  transition: width ease-in-out .2s;
/*  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;*/
}

.fa-magnifying-glass {
  opacity: 0.5;
}

button.searchButton {
  padding-top: 6px;
  height: 40px;
  border:none;
  border-bottom: 2px solid #f0f0f0;
  background-color: white;
}

button.add {
  background-color: transparent;
  border: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  height: 40px;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button#sortContacts {
  float: right;
  border: none;
  background-color: transparent;
  border: 1px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  height: 40px;
  cursor: pointer;
/*  font-weight: 400;*/
/*  font-size: 15px;*/
  padding: 5px 10px;
  text-align: center;
/*  text-decoration: none;*/
/*  user-select: none;*/
  -webkit-user-select: none;
/*  touch-action: manipulation;*/
}

button#sortContacts:hover {
  background-color: #fff;
  color: goldenrod;
}

button.add:hover {
  color: #fff;
  background-color: #00ADB5;
}

.fa-solid.fa-plus > i:hover {
  transform: rotate(360deg);
  transition: transform .7s ease-in-out;
}

input.searchInput:focus {
  width: 40vw;
  transition: width ease-in-out .35s
}

.inner-container.contacts {
  display: block;
  background-color: floralwhite;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
  width: 100%;
}

/* -------------------------------------------------------------------------------- */

div#contacts-list {
  display: table;
  width: 94%;
  margin: 0 auto;
  margin-left: 10px;
}

div#contacts-list > div {
  display: inline-block;
  margin-top: 20px;
  width: 220px;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-radius: 7px;
  margin-right: 20px;
/*  float: left;*/
}

.field-header {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.field-title {
  font-size: 14px;
  font-weight: 500;
}

.field-value {
  font-size: 14px;
  padding-bottom: 12px;
  padding-top: 5px;
  font-weight: 300;
}

.field-value.tags {
  padding-top: 0;
  padding-bottom: 5px;
}

.field-value.tags span.none {
  color: darkgray;
  margin-left: 1px;
  padding-left: 0;
}

.error_message {
  margin: 0;
  margin-top: 0;
  padding-top: 0;
}

div#tag-filter > p {
  font-weight: 700;
  font-size: 16px;
  margin-top: 15px;
  margin-left: 20px;
}

div#tag-filter > p > span {
  font-weight: 300;
  font-size: 0.9rem;
  margin-left: 5px;
  padding: 4px 5px;
}

div#tag-filter > p > span:hover {
  background-color: maroon;
  color: #fff;
}

div#tag-filter > p > span > i {
  color: #808080;
  margin-left: 5px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
}

dd.tags > span {
  display: inline-block;
  padding: 5px;
  margin-right: 7px;
  margin-top: 7px;
}

span.tag {
  margin-right: 7px;
  padding: 2px 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
}

dd.tags > span.tag:hover {
  background-color: #00ADB5;
  color: #fff;
}

button.contact-field {
  border: 1px solid gray;
  border-radius: 4px;
  opacity: 0.75;
  background-color: transparent;
  cursor: pointer;
  font-size: 10px;
  width: 70px;
  margin-right: 5px;
  margin-top: 15px;
  padding: 7px;
}

button.contact-field:hover {
  color: #fff;
  background-color: #00ADB5;
  opacity: 1;
}

/* ------------------ TAGS CSS ------------------ */

div.content {
  box-sizing: border-box;
  width: 70%;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
}

.content p {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 10px;
  color: gray;
}

.buttonIn {
  width: 100%;
  position: relative;
}

#modalBtn {
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 1;
  border: none;
  height: 44px;
  cursor: pointer;
  border: 0.6px solid gray;
  transform: translateX(2px);
  box-shadow: #422800 1px 1px 0 0;
  border-bottom: 1px solid white;
  margin-right: 4px;
}

button.submit, button.cancel {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  height: 40px;
  box-shadow: #422800 1px 1px 0 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button.submit:hover,
button.cancel:hover,
#modalBtn:hover {
  color: #fff;
  background-color: #00ADB5;
}

#modalBtn:disabled:hover {
  color: darkgray;
  background-color: white;
}

span.limit {
  margin-left: 3px;
}

.content ul {
  display: table;
  padding-top: 10px;
  padding-bottom: 20px;
}

.content ul li {
  display: inline-block;
  color: #333;
  font-size: 14px;
  margin: 4px 3px;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 5px 8px 5px 10px;
  border: 1px solid #e3e1e1;
}

.content ul li i{
  color: #808080;
  margin-left: 8px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
}

div.details {
  width: 60%;
  display: block;
  padding: 10px 0 15px 0;
}

p.tag_limit_message  {
  font-size: 14px;
  padding: 5px 0;
  margin-left: 0px;
  color: red;
}

p.no_tags_message {
  font-weight: 500;
  font-size: 16px;
  padding: 5px 0;
  margin-top: 10px;
}

div#phone > div {
  display: block;
}

#countryInput, #countryLabel {
  width: 15%;
}

#phoneLabel, #phoneInput {
  width: 53.5%;
}

#phoneLabel {
  font-size: 12px;
  margin-left: 0;
}

#countryLabel {
  font-size: 12px;
  margin-left: 4px;
}

#countryInput, #phoneInput {
  outline: none;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0 auto;
  padding: 6px 12px;
  border: 0.5px solid gray;
  animation-fill-mode: backwards;
  transition: border 0.1s ease-in-out;
  border-radius: 3px;
  margin-bottom: 25px;
}
